.primary-button{
    width: 100% !important;
    height: 45px  !important;
    background-color: var(--primary-color) !important;
    border: none !important;
    color: var(--background-color) !important;
    font-size: 1.0rem !important;
    font-weight: 500 !important;
    cursor: pointer;
}

.primary-button:hover{
    background-color: var(--success-color) !important;
    color: var(--background-color) !important;
} 


.squre-button{
    padding: 7px;
    display: flex;
    align-items: center;
    color: var(--text-color);
    justify-content: center;
    background-color: var(--background-color);
}

.squre-button:hover{
    padding: 7px;
    display: flex;
    align-items: center;
    color: var(--primary-container);
    justify-content: center;
    transition: background-color 0.3s ease;
    background-color: var(--primary-color);
}
.icon-button{
    padding: 7px;
    display: flex;
    align-items: center;
    color: var(--text-color);
    justify-content: center;
    background-color: var(--background-color);
}


.icon-button:hover{
    padding: 7px;
    display: flex;
    align-items: center;
    color: var(--primary-container);
    justify-content: center;
    transition: background-color 0.3s ease;
    background-color: var(--primary-color);
}

.body-container{
    padding: 30px 150px;
}


.box-div{
    background-color: red;
}

@media (max-width: 925px) {
    .body-container{
        padding: 30px 20px;
    }
    .box-div{
        background-color: green;
    }
  }
  
  @media (max-width: 500px) {
    .body-container{
        padding: 30px 20px;
    }
    .box-div{
        background-color: yellow;
    }
  }
  