:root {
  --background-color: #f0f2f5;
  --text-color: #333333;
  --primary-color: #007bff;
  --lable-color: #6c757d;
  --secondary-color: #f5490f;
  --success-color: #28a745;
  --info-color: #17a2b8;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
  --link-color: #007bff;
  --link-hover-color: #0056b3;
  --link-hover-decoration: underline;
  --border-color: #e0e0e0;
  --border-radius: 0.25rem;
  --max-width: 1170px;
  --fixed-width: 700px;
} 

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Global styles */
* {
  font-family: 'Poppins', sans-serif;
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */
body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 
               'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);

}

/* Code block styling */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Buttons and Links Hover Effect */
button, a {
  
}

button:hover, a:hover {
  transform: scale(1.05); 
}

/* Navbar links */


.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #333;
}

/* Smooth page transitions */
.page-enter {
  opacity: 0;
  transform: translateY(-10px);
}

.page-enter-active {
  opacity: 1;
  transform: translateY(0);
  
}

/* Responsive Typography */
h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  font-size: 1.75rem;
  font-weight: 500;
}

h4 {
  font-size: 1.5rem;
  font-weight: 500;
}

h5 {
  font-size: 1.25rem;
  font-weight: 400;
}

p {
  font-size: 1rem;
  font-weight: 300;
}

/* Responsive Padding for Different Screens */
.container {
  padding: 20px;
}

@media (min-width: 768px) {
  .container {
    padding: 40px;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 60px;
  }
}
